/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@600;900&family=Patua+One&family=Pridi:wght@200;600&family=Rubik:wght@300&family=Sniglet&display=swap');
/*import consist of all fonts selected from google font*/
*{ 
	box-sizing: border-box; /*for enabling padding*/

} /*{} represents universal block*/

header,section{
	overflow-x: hidden; /*hides all the extra spaxe from header and section*/
}

:root{
 --Snigle-font: "Sniglet",cursive; /*--<name> creates a variable of identity 'name' and singlet is the font assigned to the variable*/
 --Rubik: "Rubik" cursive;
 --Patua: "Patua One"cursive;
 --Lobster: "Lobster" cursive;
 --light-black: #2e2c2caf; /*assigns color*/
 --bggradient: linear-gradient(
 	to bottom,
 	#dd2476,#ff512f);
 --bggradientt: linear-gradient(
 	to bottom,
 	#F97794,#623AA2);
 --bggradienttt: linear-gradient(
 	to bottom,
 	#00DDFF,#004987);
 --light-gray: rgba(255,255,255,0.5);

} /*this block assigns varable names to each font style and color to different variable names*/

header a{ /* to all anchor tags in header */
	font-family: var(--Snigle-font); /*gives font-family style from above specified variable name*/
	font-size: 0.9em;  /*relative unit*/
	color: ghostwhite;
}

header img{
	border-radius: 30px;
}
header{
	background: #dd24760; /*background color*/
	/*background: var(--bggradient); /*gradient color#C8FCEA*/
    background-image: url('overvieww.png');
  background-position: 1550px 8000000px;
}

.dropdown-content{ /*selects the dropdown content*/
	display: none;
	position: absolute;
	background: burlywood;
	min-width: 160px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0.0.2);
	z-index: 1;
}

.dropdown-content a{ /*selects the anchor tag in dropdown content*/
	color: black;
	padding: 12 px 16 px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{ /*when we hover on this pages it displays nested items*/
    background: #ddd;
}

.dropdown:hover .dropdown-content{ /*displays dropdown content when we hover on it*/
	display: block;
}

header .nav-item:last-child{
	padding-right: 10.5em;
}

header .nav-item{
	padding: 0.9em;
}

header .navbar-brand{
	padding-left: 8rem;
}

header .nav-link:hover{ /*makes nav blcack when we take cursor on it*/
	color: black;
}

header .row .col-md-5{
	padding:  4.2vmin 1vmin;
}

header .row .col-md-7{
	padding: 22vmin 1vmin;
	padding-bottom: 35vmin;
	font-family: var(--Rubik);
	color: white;
}

header .row .col-md-5 img{
    width: 90%;
    border-radius: 50px;
}

header .dropdown .col-md-7 h6{
	padding: 1vmin;
	letter-spacing: 4px;
}

header .container .col-md-7 h1{
	font-size: 8.5vmin;
	font-weight: bold;
	padding: 0.1em 0em;
}
header .container .col-md-7 p{
	padding: 1vmin 5vmin;
}

/*header .container .col-md-7 button{
	border-radius: 30px;
	font-weight: bold; 
	background-color: white;
}*/

header .container .col-md-7 a{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 30px;
	font-weight: bold; 
	background-color: black;
	color: ghostwhite;
	size: 20px;
}
#blog{
    padding: 25px;
    line-height: 30px;
    font-size: large;
}
#events{
    margin-left: 150px;
}
hr.mar{
    padding-right: 50%;
    margin-bottom: 0;
    border-bottom: 0;
    margin-top: 70px;
}
centre{
    text-align: center;
}
.club img{
    text-align: center;
    width: 50%;
}
h3{
    text-align: center;
}
div{
    text-align: center;
}
.clubname{
    border-right: 1cm;
}
.tech{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #d79922;
    background-color: #d79922;
}
.music{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #EFE2BA;
    background-color: #EFE2BA;
}
.dance{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #F13C20;
    background-color: #F13C20;
}
.photo{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #4056A1;
    background-color: #4056A1;
}
.drama{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #C5CBE3;
    background-color: #C5CBE3;
}
.sai{
    margin-top: 0%;
    padding-top: 0%;
    border: 1px solid #EDC7B7;
    background-color: #EDC7B7;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer img
{
  size: 50px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}